.card {
  margin: 1rem;
}

.card-additional {
  display: flex;
  justify-content: space-between;
  /* padding: 10px; */
}

.card-rating,
.card-delivery {
  display: flex;
  align-items: center;
  padding: 5px;
  border: 1px solid var(--primary-color);
  border-radius: 10px;
}

.card-rating > img {
  width: 1.5rem;
}
