.hero-section {
  position: relative;
  display: flex;
  justify-content: center;
}

.image {
  width: 50%;
  opacity: 0.5;
}

.image:hover {
  opacity: 0.4;
}

.btn-hero {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
}

.btn-hero:hover {
  opacity: 1;
}
